p {
    color:#F5334D;
    font-size:40px;
    }
    h1 {
        color:#F51DCE;
        font-size: 77px;
    }
    #especial {
        background-color: #1d4ff5;
    }
    h2 {
        color: #195BF5;
        font-size: 15px;
    }
    body{
        background-color:#FFFFFF ;
        
    }
    h3 {
        color: #E34B24;
        font-size: 19px;
    }